include ../../mixin/mixin.pug
div.info(class="mr-30 mx-auto text-center ",style="width:600px")
     h1.footer-title(class="mt-10 ",style="font-size:27px") Company Details
     ul
      +li('Company Name','Street name &Number','Town','Postal Code','Tel:01212122','Fax:01212122','Email:aelhaidary@gmail.com')
      h4.info-title Working Hours
      p Monday-Friday 08:00-17:00