div.contact(class="flex flex-col gap-10 justify-center items-center mx-auto text-center mb-20 relative" ,style="width:400px")
    div
     h3.footer-title(class=" mt-10",style="font-size:37px") Contact US
    div 
     form(class="lg:ml-20 ",style="width:400px")
      input(class="outline-none pl-2",type="text",placeholder="name")/
      input(class="outline-none pl-2",type="email",placeholder="email")/
      textarea(class="outline-none pl-2",name="", cols="20", rows="10",placeholder="message")
      input(type="submit",value="submit" class="main-button")/