include ../../mixin/mixin.pug
div(class="clear")
div.footer   
   div.container
    div(class="flex flex-col r xl:flex-row") 
     include AfooterGallery.pug
     include BfooterInfo.pug
     include CfooterContact.pug