.footer{
    background-color:rgb(197, 189, 189);
    overflow-x: hidden;
    padding-top:30px;
    margin-top:70px;
    .gallery,.info,.contact{
        float:left;
    }
    .gallery{
        width:45%;
        .gallery-box{
            .img-box{
                overflow:hidden;
                margin-top:20px;
                img,.gallery-box-text{
                    float:left;
                }
                img{
                    width:150px;
                    height:200px;
                    @include prefixer(border-radius,10px,webkit moz o ms)
                    

                }
                .gallery-box-text{
                    width:calc(100% - 180px);
                    margin-right:15px;
                    margin-left:15px;
                    h4{
                        font: {
                            size:25px;
                            style:italic;
                        }
                        color:rgb(68, 177, 196);

                    }
                    p{
                        font: {
                            size:16px;
                            style:italic;
                        }
                        color:rgb(58, 47, 47);
                        line-height:1.7;
                        

                    }

                }
            }

        }
        

    }
    .info{
        width:25%;
        ul{
            line-height:2.3;
          li a
            {
                color:rgb(58, 47, 47);
                text-decoration:none;
                padding-top:50px;
                margin-left:-35px;

            }

        }
        .info-title{
            color:rgb(68, 177, 196);
            margin-left:-35px;
        }
        p{
            color:rgb(58, 47, 47);
            margin-left:-35px;
        }
        
    }
    .contact{
        width:25%;
        input[type="text"],input[type="email"],textarea{
            font: {
                style:italic
            }
            margin-top:20px;
            width:100%;
            border:none;
            @include prefixer(border-radius,20px,webkit moz o ms);
           
            
        }

    }
    .footer-title{
        font: {
            style:italic;
            size:23px;
        }
        color:rgb(58, 47, 47);
    }
    
    
}